.md-select {
	position: absolute;
	display: flex;
	width: 100%;
	height: auto;
}
.md-select *, .md-select :after, .md-select :before {
	box-sizing: border-box;
}
.md-select [type='button'] {
	background: #fff;
	border-color: rgba(0, 0, 0, 0.12);
	border-width: 0 0 1px 0;
	color: rgba(0, 0, 0, 0.73);
	cursor: default;
	display: block;
	position: relative;
	text-align: left;
	text-shadow: none;
	width: 100%;
	z-index: 1;
	outline: none;
	overflow: hidden;
}
.md-select [type='button']:focus, .md-select [type='button']:hover {
	background: rgba(0, 0, 0, 0.1);
}
.md-select .option-list {
	background-color: white;
	cursor: default;
	border-radius: 6px;
	list-style: none;
	line-height: 26px;
	overflow: hidden;
	margin: 0;
	max-height: 0;
	padding: 0;
	transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
	width: 100%;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.07);
}
.md-select .option-list li {
	min-height: 48px;
	height: auto;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 1em;
	font-size: 14px;
	cursor: pointer;
	outline: none;
	overflow: hidden;
}
.md-select .option-list li.active {
	background: white;
}
.md-select .option-list li:hover {
	background: #eff0f2;
}
.md-select.active .option-list {
	max-height: 200px;
	overflow: auto;
	z-index: 2;
	transition: all 0.2s ease;
}
.arr {
	display: flex;
	float: right;
}
.arr-down {
	background: #696158;
	width: 8px;
	height: 8px;
	margin-right: 12px;
	margin-left: 12px;
	margin-top: 12px;
	margin-bottom: 18px;
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	transform: rotate(225deg);
	-o-transform: rotate(225deg);
}
.arr-up {
	background: #44accf;
	width: 8px;
	height: 8px;
	margin-right: 12px;
	margin-left: 12px;
	margin-top: 13px;
	margin-bottom: 12px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.arr-up:after {
	content: '';
	position: absolute;
	left: 2px;
	top: 2px;
	width: 8px;
	height: 8px;
	background: #fff;
}
.arr-down:after {
	content: '';
	position: absolute;
	left: 2px;
	top: 2px;
	width: 8px;
	height: 8px;
	background: #fff;
}
.select-box {
	padding-top: 4px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 1em;
}
.select-box:focus {
	outline: none;
}

