.group {
  border:2px solid;
  border-radius: 8px;
  height: 48px;
  position: relative;
  display: flex;
}

.material-input  {
  font-size:14px;
  padding:10px 10px 10px 5px;
  width: 80%;
  border:none;
  height: 44px;
  color: #696158;
  padding-right: 0px;
  padding-left: 15px;
  border-radius: 8px;
  display: flex;
  flex: 5;
}

.material-input:focus {
  outline:none;
}

.material-input-label                {
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:15px;
  top:13px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width: 90%;
}

.label-text {
  background-color: white;
  white-space: nowrap;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.show-label {
  top:-7px;
  font-size:12px;
  font-weight: 600;
}

::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    position: absolute;
    right: 0;
}

.material-input::-ms-reveal,
.material-input::-ms-clear {
        display: none;
}

.material-input:-webkit-autofill,
.material-input:-webkit-autofill:hover,
.material-input:-webkit-autofill:focus,
.material-input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.material-input::-webkit-outer-spin-button,
.material-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.material-input[type=number] {
    -moz-appearance:textfield;
}
