.btn-skyblue {
  background-color: #44accf!important;
  color: #fff!important;
}

.title-login {
  font-size: 22px;
  line-height: 28px;
  color: #44accf;
  font-weight: bold;
}

.mx-width {
  max-width: 700px;
}
