.accordion-item {
  overflow: hidden;
  box-shadow: 0 8px 10px -2px rgba(103, 103, 103, 0.12);
  margin-bottom: 1em;
  max-height: 9999px;
  height: auto;
  background-color: white;
  border-radius: 6px;
  opacity: 1;
  transition-property: max-height, opacity, margin-bottom;
  transition-duration: 0.8s, 0.8s, 0.8s;
  transition-delay: 0s, 0.2s, 0s;
}
.accordion-item.collapsed {
  max-height: 0;
  margin-bottom: 0em;
  transition-property: margin-bottom, max-height;
  transition-duration: 0.8s, 0.2s;
  transition-delay: 0s, 0s;
}
.accordion-title {
  box-shadow: 0 8px 10px -2px rgba(103, 103, 103, 0.12);
  background-color: white;
  cursor: pointer;
  color: #696158;
  font-size: 16px;
  font-family: Calibri;
  font-weight: bold;
  padding: 1em 1.4em;
  border: solid 1px #e8e8e8;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
@media screen and (max-width: 425px) {
  .accordion-title {
    font-size: 14px;
    padding: 1.5em 1.6em;
  }
}
@media screen and (max-width: 320px) {
  .accordion-title {
    font-size: 11px;
    padding: 1em 1.3em;
  }
}
.accordion-title::after {
  content: url('./down-arrow.png');
  width: 1em;
  height: 1em;
  color: #44accf;
  text-align: center;
  transition: all 0.35s;
}
.accordion-title:hover, .accordion-title.open {
  color: #696158;
}
.accordion-title.open::after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.accordion-content {
  box-shadow: 0px 0px 0px 1px #e8e8e8 inset;
  font-size: 14px;
  border-radius: 6px;
  color: #696158;
  font-family: Calibri;
}
@media screen and (max-width: 425px) {
  .accordion-content {
    font-size: 11px;
  }
}
.body-default-styles {
  padding: 2em 3em;
}
@media screen and (max-width: 425px) {
  .body-default-styles {
    padding: 1.6em 1.5em;
  }
}
