.group {
  border:2px solid;
  border-radius: 8px;
  height: 48px;
  position: relative;
  display: flex;
}

.dropdown-input  {
  font-size:14px;
  padding:10px 10px 10px 5px;
  width: 80%;
  border:none;
  height: 44px;
  color: #696158;
  padding-right: 0px;
  padding-left: 15px;
  border-left-style: solid;
  border-left-width: 2px;
  display: flex;
  flex: 5;
}

.dropdown-input:focus {
  outline:none;
}

.dropdown-input:required {
    box-shadow:none;
}

.dropdown-input::-webkit-input-placeholder { color: #9d9994; text-transform: none; font-size: 15px; }
.dropdown-input:-moz-placeholder { color: #9d9994; text-transform: none; font-size: 15px; }
.dropdown-input::-moz-placeholder { color: #9d9994; text-transform: none; font-size: 15px; }
.dropdown-input:-ms-input-placeholder { color: #9d9994; text-transform: none; font-size: 15px; }
.dropdown-input::-ms-input-placeholder { color: #9d9994; text-transform: none; font-size: 15px; }

.dropdown-input:-webkit-autofill,
.dropdown-input:-webkit-autofill:hover,
.dropdown-input:-webkit-autofill:focus,
.dropdown-input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    position: absolute;
    right: 0;
}
